
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: antiquewhite; 
}
body {
  background: url(./assets/green-bg.jpg) no-repeat center center/cover;
  height: 100%;
}

/* ********************* HEAD *********************** */

.app {
  padding: 1.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.main-title{
  margin-bottom: 1rem;
}
.form input {
  padding: .5rem 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(110, 110, 110, 0.9);
  border-radius: 1rem;
}

input:focus{
  outline: 1px solid rgb(0, 0, 0);
}

/* ********************* CARDS *********************** */

.cards {
  margin: 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 1rem;
}

/* ********************* HEADINGS *********************** */

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.4rem;
}

/* ********************* HEADINGS *********************** */

@media screen and (max-width: 800px ){

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 600px ){

  .cards {
    margin: 1rem 1rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 400px ){

  .cards {
    margin: 1rem 3rem;
    grid-template-columns: 1fr ;
  }
}